/* LAYOUT */
aside.left {
	float: left;
	width: 10%;
}
aside.right {
	float: right;
	width: 10%;
}

article {
	margin-left: auto;
	margin-right: auto;
}

article > *:first-child {
	margin-top: 48px;
}

footer {
	text-align: center;
}

.inline {
	display: inline;
}


/* FORM */
form {
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

form .captcha {
	width: 100%;
}

form > table.table {
	margin-left: auto;
	margin-right: auto;
}

form select {
	max-width: 300px;
}


/* Assist */
.click {
	cursor: pointer;
}

.wide {
	width: 100%;
}